<!doctype html>
<head>
  <title>RSSbot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <% for (const url of cssFiles) { %>
    <link rel="stylesheet" type="text/css" href="<%= url %>">
  <% } %>
</head>
<body ng-app="rssbot">
  <section class="rssbot-app">
    <nav class="navbar">
      <i class="fa fa-bars icon"></i>
      <div class="shortcuts"></div>
      <div class="userinfo">
        <div class="headimg"></div>
        <span>User Name</span>
      </div>
    </nav>
    <div class="content">
      <div class="sidebar"></div>
      <div class="uiview-container">
        <ui-view></ui-view>
      </div>
    </div>
  </section>
  <% for (const url of jsFiles) { %>
    <script type="text/javascript" src="<%= url %>"></script>
  <% } %>
</body>
