<!doctype html>
<head>
  <title>RSSbot</title>
  <% for (const url of cssFiles) { %>
    <link rel="stylesheet" type="text/css" href="<%= url %>">
  <% } %>
</head>
<body>
  <p>rssbot test page.</p>
  <p>You have logged in as <%= openid %></p>

  <% for (const url of jsFiles) { %>
    <script type="text/javascript" src="<%= url %>"></script>
  <% } %>
</body>
